body {
    background-repeat: repeat-y;
    background-size: 100%;
    background-image: url('https://wallpapercave.com/wp/I2fII8e.jpg');
    background-color: rgb(2, 37, 43);
    
}
.ligreen{
    background: lightgreen;
}
.liRed{
    background: red;
    display: none;
}
ul{
    max-width: 410px;
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    background: rgba(110, 62, 187, 0.658);
    border-radius: 20px;
    box-shadow:5px 10px #482377f1;;
}
ul li{
    width: 60px;
    height: 50px;
    background: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    margin: 10px;
    display:inline-block;
    border-radius: 50%;
}

.input{
    width: 500px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border: 3px solid purple;
    border-radius: 30px;
    outline: none;
}
.ulWraper{
    margin-top: 50px;
   
}
.inputWraper{
    margin-top: 30px;
}
.upertitle{
    text-align: center;
    margin-top: 50px;
    color: rgba(163, 125, 224, 0.658);
}
.output{
    margin: 20px auto;
    text-align: center;
    color: white;
    background: lightblue;
    clear: both;
     
}
.btn1{
    margin: 100px auto;
    font-size: 30px;
    text-align: center;
    background: rgba(81, 3, 206, 0.658);
    display:block;
    position: relative;
    left: 400px;
    bottom: 500px;
    border-radius: 20px;
    box-shadow: 3px -3px #482377f1;
    outline: none;
    padding: 10px;
}
.p{
    max-width: 410px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}
.span1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0 auto;
    background-color: rgba(230, 4, 4, 0.872);
   padding:10px 20px;
   border-radius: 10px;
}
.span2{
    text-align: center;
    color: white;
    font-size: 20px;
    
    margin: 0 auto;
    background-color: rgba(34, 235, 148, 0.872);
   padding:10px 20px;
   border-radius: 10px;
   
}
.span3{
    text-align: center;
    color: white;
    font-size: 20px;
   margin: 0 auto;
   background-color: rgba(28, 128, 0, 0.872);
   padding:10px 20px;
   border-radius: 10px;
   
}
.span{
    
}
