body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('https://wallpapercave.com/wp/I2fII8e.jpg');
}
ul{
    max-width: 410px;
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    background: rgba(110, 62, 187, 0.658);
    border-radius: 20px;
    box-shadow:5px 10px #482377f1;;
}
.liBtn{
    width: 60px;
    height: 50px;
    background: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    margin: 10px;
    display:inline-block;
    border-radius: 50%;
}

.input{
    width: 400px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border: 3px solid purple;
    border-radius: 30px;
}
.ulWraper{
    margin-top: 50px;
   
}
.inputWraper{
    margin-top: 30px;
}
.upertitle{
    text-align: center;
    margin-top: 50px;
    color: rgba(163, 125, 224, 0.658);
}
.output{
    margin: 20px;
    text-align: center;
    
}
